Bluemix/Node Red Code.md
[{"id":"69a13abf.965ec4","type":"http in","name":"on","url":"/on","method":"get","x":116,"y":97,"z":"e6472747.19b8d8","wires":[["a8889e7f.57776"]]},{"id":"a8889e7f.57776","type":"function","name":"on = 1","func":"msg.payload = \"params=1\";\nreturn msg;","outputs":1,"valid":true,"x":276,"y":104,"z":"e6472747.19b8d8","wires":[["b77f933a.48807"]]},{"id":"b77f933a.48807","type":"function","name":"particle url","func":"msg.url = \"https://api.particle.io/v1/devices/DEVICEID/updateLED?access_token=ACCESSTOKEN\"\nmsg.headers = {'Content-Type' : 'application/x-www-form-urlencoded'}\nreturn msg;","outputs":1,"valid":true,"x":477,"y":167,"z":"e6472747.19b8d8","wires":[["c0ef5c32.3f10a"]]},{"id":"c0ef5c32.3f10a","type":"http request","name":"send post request","method":"POST","ret":"txt","url":"https://api.particle.io/v1/devices/DEVICEID/updateLED?access_token=ACCESSTOKEN","x":669,"y":166,"z":"e6472747.19b8d8","wires":[["732d438f.8cd2bc","6a59a9.ff95a658","e68baeed.19745"]]},{"id":"732d438f.8cd2bc","type":"http response","name":"respond to server","x":904,"y":168,"z":"e6472747.19b8d8","wires":[]},{"id":"6a59a9.ff95a658","type":"debug","name":"output/debug","active":true,"console":"false","complete":"payload","x":890,"y":86,"z":"e6472747.19b8d8","wires":[]},{"id":"493cfc6d.b6c304","type":"http in","name":"off","url":"/off","method":"get","x":106,"y":222,"z":"e6472747.19b8d8","wires":[["dfe50b48.201af8"]]},{"id":"dfe50b48.201af8","type":"function","name":"off = 0","func":"msg.payload = \"params=0\";\nreturn msg;","outputs":1,"valid":true,"x":265,"y":227,"z":"e6472747.19b8d8","wires":[["b77f933a.48807"]]},{"id":"e68baeed.19745","type":"ibmpush","name":"","ApplicationID":"","ApplicationRoute":"","identifiers":"YOUR_DEVICEID_ON_BLUEMIX_PUSH","notification":"deviceid","x":887,"y":256,"z":"e6472747.19b8d8","wires":[]}]